<div *ngIf="hero">
  <!-- <h2>{{hero.name | uppercase}} Details</h2>
  <div>id: {{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
  </div> -->
  <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name">
    </div>

    <div class="form-group">
      <label for="alias">Alias</label>
      <input type="text" id="alias" class="form-control" formControlName="alias">
    </div>

    <div class="form-group">
      <label for="power">Power</label>
      <select name="power" id="power" class="form-control" formControlName="power">
        <option *ngFor="let power of powers" [value]="power.id">{{power.name}}</option>
      </select>
    </div>

    <button type="submit" [disabled]="!heroForm.valid">Save</button>
    <button type="button" (click)="goBack()">Go Back</button>
  </form>

</div>
